
<div class="row">
    <div class="col-xl-9 col-xs-12">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">映射列表</h6>
    </div>
    <div class="card-body mx-table table-responsive">
        <button type="button" class="btn btn-success sm-text text-uppercase mb-2" data-toggle="modal" data-target="#create_nat">新建映射</button>
      <table class="table table-hover  t-text-dark--light-15 sm-text">
        <thead>
          <tr>
            <!--<th scope="col">映射ID</th>-->
            <th scope="col">状态</th>
            <th scope="col">内网端口</th>
            <th scope="col">外网端口</th>
            <th scope="col">协议</th>
            <th scope="col">公网地址</th>
            
            <th scope="col">备注</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody class="t-mt-15">
            
            
             {foreach $list.data as $key => $vo}
             
             <tr>
            <!--<td>{$vo.id}</td>-->
            <td>{if $vo.enabled=='yes'}
            
            <label class="badge badge-success">正常</label>
            {else}
            <label class="badge badge-warning">禁用</label>
            {/if}
      
            
            </td>
            <td>{$vo.lan_port}</td>
            <td>{$vo.wan_port}</td>
            <td>{$vo.protocol}</td>
            <td>{$params['configoptions']['ikuai_ip']}:{$vo.wan_port}</td>
            <td>{$vo.comment}</td>
            <td>
                <button type="button" class="btn btn-warning" onclick="DelNat('{$vo.id}')">删除</button>
                
                
                
            </td>
          </tr>
             
             {/foreach}
            
        
        </tbody>
      </table>
      
      
    </div>

  </div>

</div>

<div class="col-xl-3 col-xs-12">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">映射信息</h6>
    </div>
    <div class="card-body">
      <table class="table table-hover  t-text-dark--light-15 sm-text">
        <thead>
          <tr>
            <th scope="col">可映射数量 ：  114514</th>
          </tr>
           <tr>
            <th scope="col">已映射数量 ：  {$list['total']}</th>
          </tr>
          
        </thead>
        
      </table>

    </div>

  </div>

</div>



</div>

<!-- 模态框（Modal） -->
    <div class="modal fade" id="create_nat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h4 class="modal-title" id="myModalLabel">创建映射</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    

                      <div class="form-group">
                        <label for="name">内网端口</label>
                        <input type="text" class="form-control" id="nat_lan_port" placeholder="内网端口号">
                      </div>
                      
                     <div class="form-group">
                        <label for="name">外网端口</label>
                        <input type="text" class="form-control" id="nat_wan_port" placeholder="自动分配" disabled="">
                      </div>
                      
                      <div class="form-group">
                        <label for="name">使用协议</label>
                        <select class="form-control" id="nat_type">
                          <option value="tcp">TCP</option>
                          <option value="udp">UDP</option>
                          <option value="tcp+udp">TCP+UDP</option>
                        </select>
                        
                    
                      </div>
                      
                      <div class="form-group">
                        <label for="name">备注</label>
                        <input type="text" class="form-control" id="nat_comment" placeholder="备注114514">
                      </div>

                    
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="CreateNat()">创建</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
<script type="text/javascript" charset="utf-8">
    
    // 创建映射
    function CreateNat(){

            
            var body = {"func":"nat_add","lan_port":nat_lan_port.value,"type":nat_type.value,"comment":nat_comment.value}
            $.post("{$MODULE_CUSTOM_API}",body,function(data,status){
                if(data.ErrMsg=="Success"){
                    Swal.fire("成功", data.msg, "success");
                    setTimeout(location.reload(),5000)
                }else{
                    Swal.fire("失败", "创建映射失败", "error");
                }
            
            
                
                    
             })
        }
    
    // 删除映射
    function DelNat(id){

            
            var body = {"func":"nat_del","id":id}
            $.post("{$MODULE_CUSTOM_API}",body,function(data,status){
                if(data.ErrMsg=="Success"){
                    Swal.fire("成功", data.msg, "success");
                    setTimeout(location.reload(),5000)
                }else{
                    Swal.fire("失败", "删除映射失败", "error");
                }
            
            
                
                    
             })
        }
    
    
    
    function ajax(options){
        //创建一个ajax对象
        var xhr = new XMLHttpRequest() || new ActiveXObject("Microsoft,XMLHTTP");
        //数据的处理 {a:1,b:2} a=1&b=2;
        if(typeof(options.data)!='string'){
            var str = "";
            for(var key in options.data){
                str+="&"+key+"="+options.data[key];
            }
            str = str.slice(1)
        }else{
            var str = options.data;
        }
        
        options.dataType=options.dataType||'json';
        if(options.type == "get"){
            var url = options.url+"?"+str;
            xhr.open("get",url);
            xhr.setRequestHeader("Authorization","JWT {$Think.get.jwt}");
            xhr.send();
        }else if(options.type == "post"){
            xhr.open("post",options.url);
            xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
            xhr.setRequestHeader("Authorization","JWT {$Think.get.jwt}");
            xhr.send(str)
        }
        //监听
        xhr.onreadystatechange = function(){
            //当请求成功的时候
            if(xhr.readyState == 4 && xhr.status == 200){
                var d = xhr.responseText;
                d = JSON.parse(d);
                //将请求的数据传递给成功回调函数
                options.success&&options.success(d,xhr.responseXML)
            }else if(xhr.status != 200){
                //当失败的时候将服务器的状态传递给失败的回调函数
                options.error&&options.error(xhr.status);
            }
        }
    }
        
    
</script>