<div class="row">
    <div class="col-xl-8 col-xs-12">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">网络管理</h6>
    </div>
    <div class="card-body table-responsive mx-table">
      <table class="table table-hover  t-text-dark--light-15 sm-text">
        <thead>
          <tr>
            <th scope="col">IP地址</th>
            <th scope="col">子网掩码</th>
            <th scope="col">网关</th>
          </tr>
        </thead>
        <tbody class="t-mt-15">
          <tr>
            <td>
             {if $params['configoptions']['nat'] == "nat"}
              (内)
             {/if}{$params['dedicatedip']} 
             
            </td>
            <td>/{$params['configoptions']['Mask']}</td>
            <td>{$params['configoptions']['gateway']}</td>
          </tr>
          
        
        </tbody>
      </table>
      
      
    <table class="table table-hover  t-text-dark--light-15 sm-text">
        <thead>
            {if $params['configoptions']['nat'] == "nat"}
             <tr>
                <th scope="col" style="color: red">公网地址 | {$params['configoptions']['ikuai_ip']} </th>
            </tr>
             <tr>
                <th scope="col" style="color: red">可通过端口映射页面映射需要使用的端口 </th>
            </tr>
             {/if}
          <tr>
            <th scope="col">网卡名 : {$network['name']} </th>
          </tr>
           <tr>
            <th scope="col">MAC地址 : {$network['hwaddr']}</th>
          </tr>
          <tr>
            <th scope="col">DNS服务器 ： {$params['configoptions']['dns']}</th>
          </tr>
         
        </thead>
        
      </table>
    </div>

  </div>

</div>

<div class="col-xl-4 col-xs-12">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">宽带信息</h6>
    </div>
    <div class="card-body">
      <table class="table table-hover  t-text-dark--light-15 sm-text">
        <thead>
          <tr>
            <th scope="col">出口带宽 ： {$params['configoptions_upgrade']['network']} M</th>
          </tr>
           <tr>
            <th scope="col">入口带宽 ： {$params['configoptions_upgrade']['network']} M</th>
          </tr>
          <tr>
            <th scope="col">可用流量 ： 不受限制</th>
          </tr>
          <tr>
            <th scope="col">牵引阈值 ： 100 G</th>
          </tr>
        </thead>
        
      </table>

    </div>

  </div>

</div>



</div>


